/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 30px;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
  border: none;
}

#section1,#section2,#section3{
  border: 1px solid black;
  background-color: #8a8383;
  font-family: Helvetica;
  overflow: auto;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 12px;
  width: 95%;
  margin: 5px;
}


#title1, #title2, #title3{
  background-color: #d66b6b;
  border: 1px solid black;
  text-align: center;
  width: 40%;
  position: relative;
  left:65%;
  margin-bottom: 10px;
}



/********** Desktop Version **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
  }
  
  .col-lg-4 {
    width: 33.33%;
  }
}

/********** Tablet Version **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }
  
}

/********** Mobile Version **********/
@media (max-width: 767px) {
   .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
}